:root {
    --primary-color-one: #7600E3;
    --primary-color-two: #0E0004;
    --secondary-color-one: #31081F;
    --secondary-color-two: #F5B841;
    --secondary-color-three: #E01A4F;
    --primary-background-color: white;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    background-color: var(--primary-background-color) !important;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary-color-one) !important;
}

.body-container {
    flex-grow: 1;
    overflow-x: hidden;
    background-color: var(--primary-background-color);
    color: white;
    position: relative;
    border-radius: 5px;
    scroll-behavior: smooth;
}

.nav-link {
    font-size: larger !important;
    color: white !important;
}

.navbar-brand {
    margin: 0 3.5em 0 0 !important;
    color: white !important;
}

.nav-item {
    margin: 0 2.5em !important;
}

.nav-item {
    display: flex;
    align-items: center;
}

.home-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #07172E;
    color: white;
    font-size: 2em;
}

.carousel-item .main-carousel-img {
    width: 70vw !important;
    height: 65vh !important;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 0.5s ease !important;
    transition: transform 0.5s ease !important;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease !important;
}

.text-block-container {
    margin-top: 80px;
}

.text-block-container .text-block-h2 {
    text-align: left;
    color: var(--primary-color-one);
    font-family: 'SamsungSharpSans', arial, sans-serif;
    font-weight: 500;
    margin-bottom: 1em;
}

.text-block-container .text-block-h6 {
    text-align: left;
    color: #696E77;
    font-family: 'SamsungSharpSans', arial, sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

.text-message-container {
    display: flex;
    justify-content: center;
    align-items: left;
}

.text-message-container .text-message {
    color: #696E77;
    font-family: 'SamsungSharpSans', arial, sans-serif;
    text-align: left;
    font-weight: 500;
}
.active{
    border-radius: 2px !important;
    border-bottom: 2px solid white !important;
}

.text-button-link {
    background-color:  var(--primary-color-one);
    padding: 0.5em 1em;
    color: white;
    font-weight: 700;
    margin: 1em 0;
    text-decoration: none;
    border-radius: 10px;
}
.home-products{
    margin-top:5vh;
    padding:5vh 0;
    background-color: #F8F8F8;
}
.all-products-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin:50px 0px;
    padding:10px;
    border-radius: 50px;
}

@media screen and (max-width: 768px) {
    .text-message-container .text-message {
        width: 90%;
    }
    .carousel-item .main-carousel-img {
        width: 70vw !important;
        height: auto !important;
        object-fit: cover;
    
    }
    .home-banner-container {
        height: auto;
        padding: 5vh 0;
    }
    .card-crousel{
        display: flex;
        justify-content: center;
    }
    .cards-wrapper {
        padding: 0 20px !important;
    }
    footer div div{
        align-items: center !important;
    }
    .quick-links h4, .quick-links ul{
        text-align: center !important;
        list-style-type: none;
        padding:0;
    }
    .details table{
        font-size: 0.5em !important;
    }
}

.card-crousel{
    margin-bottom: 5vh;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 3em 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}
.card-img-top{
    object-fit: contain;
}

@media (min-width: 768px) {
    .card img {
        height: 11em;
    }

    .card-crousel {
        display: flex;
        justify-content: center;
    }

    .card-crousel .cards-wrapper {
        /* width: 60vw; */
    }
}
.btn-primary{
    border: 1px solid var(--primary-color-one) !important;
    background-color: white !important;
    color: var(--primary-color-one) !important;
    padding: 0.5em 1em;
    font-weight: 700;
    border-radius: 5px;
    margin: 1em 0;
}
footer{
    background-color: var(--primary-color-one);
    color: white;
    padding: 4em 5em 1em 5em;
    text-align: center;
}
.quick-links{
    margin-top:50px !important;
}
.quick-links h4,.quick-links ul{
    text-align: left;
    text-decoration: none;

}
.quick-links ul li a{
    text-decoration: none;
    color: white;

}
.details table{
    width: 100% !important;
}

th, td {
    padding: 0.5em; 
}
table {
    border-collapse:separate 
}

table, th, td , tr {
    border-width: 1px !important; 
    border: 1px solid black; 
}