---
import { Icon } from "astro-icon/components";
---

<div class="row d-flex justify-content-center mt-4">
    <div class="row d-flex mt-4">
        <div class="col-sm px-4 px-lg-0 offset-lg-3">
            <p class="fs-4 m-0">So, Who am I?</p>
            <p class="index-intro-midtitle fs-1 primary-text">
                An artist, a developer, a designer.
            </p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-lg-6 px-4 px-lg-0 offset-lg-3">
            <p
                class="text-justify light-text mt-4"
                style="text-align: justify;"
            >
                As a fullstack developer, I am passionate about developing a
                system. The process of creating new logics, solving real world
                problems,building a fully operational system and incorporating
                it into our daily lives is what I love about being a developer.
            </p>
        </div>
    </div>
    <div class="row">
        <div
            class="col-sm-6 px-4 px-lg-0 offset-lg-3 w-auto"
            style="z-index:19;"
        >
            <a
                href="assets/Saugat_CV_2024-05.pdf"
                class="text-decoration-none"
                download
            >
                <p
                    class="ms-1 py-2 px-4 circular-border-md primary-border primary-text cursor-pointer primary-btn-hover w-auto"
                >
                    <b class="me-2">Download my resume</b>
                    <Icon
                        name="Download"
                        class="ms-2"
                        style="transform:scale(1.6)"
                    />
                </p>
            </a>
        </div>
    </div>
    <div
        class="about-logic-design-spacing row m-0 m-lg-auto d-flex justify-content-center"
    >
        <div class="col-lg-4 px-4 px-lg-0 offset-lg-1 mt-4">
            <h1 class="index-intro-midtitle fs-1 mt-4">Logic & Design</h1>
            <p
                class="text-justify light-text mt-4"
                style="text-align: justify;"
            >
                With a keen interest in sketching since early childhood, my
                passion for designing has grown even stronger, and I continue to
                enjoy creating intuitive and interactive UIs. This creative
                combination of designing aesthetics, frontend and backend logic
                allows me to work efficiently.
            </p>
        </div>

        <div class="col-lg-4 offset-0 offset-lg-3">
            <div
                class="circular-slant-pattern d-flex justify-content-center align-items-center"
            >
                <Icon name="logos" class="about-logo-group" />
            </div>
        </div>
        <div class="col-sm-1">&nbsp;</div>
    </div>
</div>
<div class="row mt-0 mt-lg-2">
    <div class="col-sm-2 offset-3 offset-md-3">
        <p class="index-scroll text-center" style="margin-top:0">
            S&nbsp;C&nbsp;R&nbsp;O&nbsp;L&nbsp;L
        </p>
    </div>
</div>
