---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="row">
        <div class="text-block-container">
            <h1 class="text-block-h2">ABOUT US</h1>
        </div>


        <div class="text-message-container">
			<p class="text-message">
				Nestled amisdt the Himalayas, ULC draws inspiration from Nepal's
				rich tapestry of tradition and innovation. In the shadow of
				majestic peaks and amidst the vibrant pulse of Nepalese life, we
				embarked on a journey to craft home appliances that resonated
				with the essence of our homeland.
			</p>
		</div>

        
    </div>
</BaseLayout>
