---

---

<div class="row d-flex justify-content-center mt-4">
    <p
        class="text-center fs-3 w-auto primary-border circular-border-md primary-text"
    >
        Contact&nbsp;Me
    </p>
    <p class="text-center text-secondary">
        If you have any questions or would like to work together, feel free to
        get in touch!
    </p>

    <div class="row d-flex justify-content-center m-4">
        <div
            class="col-12 col-md-8 col-lg-6 primary-border m-4 p-4 circular-border-md"
        >
            <form
                name="contact"
                method="POST"
                data-netlify="true"
                enctype="text/plain"
            >
                <input type="hidden" name="form-name" value="contact" />

                <div class="row mt-4">
                    <label class="primary-text fs-5" for="name"
                        >Your Name:</label
                    >
                    <input type="text" id="name" name="name" required />
                </div>

                <div class="row mt-4">
                    <label class="primary-text fs-5" for="email"
                        >Your Email:</label
                    >
                    <input type="email" id="email" name="email" required />
                </div>

                <div class="row mt-4">
                    <label class="primary-text fs-5" for="message"
                        >Message:</label
                    >
                    <textarea id="message" name="message" rows="5" required
                    ></textarea>
                </div>

                <div class="row mt-4">
                    <input type="submit" value="Send" />
                </div>
            </form>
        </div>
    </div>
</div>
