---

---

<footer>
    <div class="row">
        <div class="col-12 col-md-4 offset-md-2 d-flex flex-column align-items-left">
            <img src="/assets/images/ULC-White.png" alt="Logo" width="120">
            <p style="text-align:justify;">
                Nestled amisdt the Himalayas, ULC draws inspiration from Nepal's
				rich tapestry of tradition and innovation. In the shadow of
				majestic peaks and amidst the vibrant pulse of Nepalese life, we
				embarked on a journey to craft home appliances that resonated
				with the essence of our homeland.
            </p>
        </div>
        <div class="col-12 col-md-4 offset-md-2 quick-links">
            <h4>Quick Links</h4>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/products">Products</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- a horizontal line and a copy right text below it -->
    <hr>
    <p class="text-center">© 2024 ULC. All Rights Reserved.</p>



</footer>
